.services {
  height: 100%;
  width: 100%;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

#service-title-text {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.1)),
    color-stop(1, rgba(255, 255, 255, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 100px;
}

.service-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
