.services {
  height: 100%;
  width: 100%;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#service-title-text {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.2)),
    color-stop(1, rgba(255, 255, 255, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 50px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 980px) {
  #service-title-text {
    font-size: 80px;
  }
}

@media screen and (max-width: 650px) {
  #service-title-text {
    font-size: 36px;
  }
}
