.projects {
  height: 100%;
  width: 100%;
  background-color: #0d0022;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.projects-title {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.5)),
    color-stop(1, rgba(255, 255, 255, 0.05))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.project-container {
  width: 60%;
  font-family: "Poppins", sans-serif;
}

.project-box-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
  justify-content: space-evenly;
}

/* .project-box {
  height: 400px;
  margin: 30px 0;
} */

.project-img {
  height: 100%;
  width: 100%;
  cursor: url(../images/pointer.png), auto;
}

/* ----------Card Flip----------- */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #636363;
  color: #fff;
  transform: rotateY(180deg);
}

.project-name {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 0;
}

.project-desc {
  padding: 0 10px;
}

.project-btn {
  font-size: 18px;
  transition: all 0.5s ease;
  border: 1px solid #fff;
  background: none;
  border-radius: 50px;
  color: #fff;
  width: 130px;
  padding: 10px;
  position: absolute;
  bottom: 15px;
  cursor: url(../images/pointer.png), auto;
}

.project-btn:after {
  content: "";
  background-color: #f037a5;
  width: 100%;
  border-radius: 50px;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.project-btn:hover:after {
  top: 0px;
  left: 0px;
}

.btn-left {
  left: 5px;
}

.btn-right {
  right: 5px;
}

/* @media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
} */

@media screen and (max-width: 650px) {
  .projects-title {
    font-size: 48px;
    margin-top: 30px;
  }

  .project-box {
    height: 250px;
    margin: 10px 0;
  }

  .flip-card {
    height: 250px;
    width: 250px;
  }

  .project-btn {
    width: 100px;
    padding: 5px;
    bottom: 10px;
  }
}
