.about {
  height: 100%;
  width: 100%;
  background-color: #151515;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 0;
}

.about-container {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#about-title {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.1)),
    color-stop(1, rgba(255, 255, 255, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

#about-text {
  font-size: 30px;
  margin: 100px 0;
  text-align: start;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.7)),
    color-stop(1, rgba(255, 255, 255, 0.1))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  height: 40px;
  margin: 10px 20px 0 0;
}

.social-icons a img {
  height: 40px;
  cursor: url(../images/pointer.png), auto;
}
