.about {
  height: 100%;
  width: 100%;
  background-color: #151515;
  display: flex;
  text-align: center;
  justify-content: center;
}

.about-container {
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#about-title {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.1)),
    color-stop(1, rgba(255, 255, 255, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#about-text {
  font-size: 30px;
  margin-top: 100px;
  text-align: start;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.7)),
    color-stop(1, rgba(255, 255, 255, 0.1))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#email {
  color: #a9ffa1;
}

.about-contact {
  font-size: 30px;
  margin-top: 100px;
  text-align: start;
  color: #fff;
  font-weight: 300;
}

.social-icons {
  text-align: start;
  margin-top: 20px;
}

.social-icons a {
  height: 40px;
  margin: 10px 20px 0 0;
}

.social-icons a img {
  height: 40px;
}
