.button {
  transition: all 0.5s ease;
  width: 100%;
  border: 5px solid #67ff59;
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 20px 0;
  outline: none;
  box-shadow: -10px 10px 10px #000;
  cursor: url(../images/pointer.png), auto;
}

.button p {
  cursor: url(../images/pointer.png), auto;
}

a {
  text-decoration: none;
  color: #fff;
  width: 50%;
}

.button:hover {
  background-color: #67ff59;
  transform: rotate(10deg);
}

@media screen and (max-width: 980px) {
  .button {
    border: 2px solid #67ff59;
    font-size: 22px;
    padding: 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .button {
    border: 1px solid #67ff59;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
  }
}
