.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0d0022;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* background-image: url(../images/padded.png); */
}

.home-text-container {
  font-family: "Ubuntu", sans-serif;
  width: 35%;
}
#hello {
  font-size: 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(255, 255, 255)),
    color-stop(1, rgba(255, 255, 255, 0.6))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: light;
}
#name-text {
  font-size: 60px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.8)),
    color-stop(1, rgba(255, 255, 255, 0.3))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#name {
  transition: all 1s ease;
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: #151515;
  z-index: 10;
  line-height: 2;
}

#name:hover {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    /* color-stop(0, rgba(255, 255, 255, 0.5)),*/ color-stop(0, #f037a5),
    color-stop(1, rgba(240, 55, 165, 0.5))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

  text-shadow: -5px 5px #0cecdd;
}

#role {
  font-size: 50px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.7)),
    color-stop(1, rgba(255, 255, 255, 0.1))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 0 20px;
}

.img-container {
  height: 70%;
  box-shadow: -10px 10px 50px #000;
}

#aditya-img {
  height: 100%;
}

.home-button-container {
  margin-top: 100px;
  width: 50%;
}

@media screen and (max-width: 980px) {
  #hello {
    font-size: 20px;
  }

  #name-text {
    font-size: 40px;
  }

  #name {
    -webkit-text-stroke: 0.4px #fff;
  }

  #role {
    font-size: 30px;
    padding: 0 0 20px;
  }
  .img-container {
    height: 50%;
  }

  #aditya-img {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .home {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 30%;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  .home-text-container {
    width: 100%;
  }

  #hello {
    font-size: 16px;
  }

  #name-text {
    font-size: 32px;
  }

  #name {
    -webkit-text-stroke: 0.4px #fff;
  }

  #role {
    font-size: 26px;
    padding: 0 20px 20px;
  }
  .img-container {
    height: 50%;
    width: 70%;
  }

  #aditya-img {
    width: 100%;
  }

  .home-button-container {
    margin-top: 50px;
  }
}
