.home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #151515;
}

.home-text-container {
  font-family: "Ubuntu", sans-serif;
  width: 35%;
}
#hello {
  font-size: 30px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(255, 255, 255)),
    color-stop(1, rgba(255, 255, 255, 0.6))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: light;
}

#name-text {
  font-size: 60px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.8)),
    color-stop(1, rgba(255, 255, 255, 0.3))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#name {
  font-weight: 700;
  -webkit-text-stroke: 1px #fff;
  color: #151515;
}

#role {
  font-size: 50px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.5)),
    color-stop(1, rgba(255, 255, 255, 0.1))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.img-container {
  height: 70%;
}

#aditya-img {
  height: 100%;
}
