.contact {
  height: 100%;
  width: 100%;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.contact-title {
  font-size: 96px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.1)),
    color-stop(1, rgba(255, 255, 255, 0))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10% 0;
  width: 80%;
}

.contact-text {
  font-size: 40px;
  text-align: start;
  width: 40%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0.7)),
    color-stop(1, rgba(255, 255, 255, 0.1))
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Poppins", sans-serif;
}

#email {
  color: #a9ffa1;
  cursor: url(../images/pointer.png), auto;
}

.contact-img-container {
  width: 40%;
}

#contact-img {
  width: 100%;
}

.social-icons {
  margin-top: 50px;
}

.social-icons a {
  height: 40px;
  margin: 10px 20px 0 0;
}

.social-icons a img {
  height: 40px;
  cursor: url(../images/pointer.png), auto;
}
