.list-box {
  height: 750px;
  background-color: #fff;
  width: 400px;
  box-shadow: -5px 5px 20px #000;
  margin: 50px 0;
}

.title-box {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f037a5;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #fff;
  border-radius: 0 0 50% 50%;
  margin-bottom: 50px;
}

.content-box {
  color: #151515;
  display: flex;
  margin-top: 20px;
  align-items: center;
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#checkmark {
  height: 50px;
  margin-right: 10px;
}

@media screen and (max-width: 650px) {
  .list-box {
    height: 100%;
    padding-bottom: 30px;
    width: 80%;
  }

  .title-box {
    height: 100px;
    font-size: 20px;
  }

  .content-box {
    font-size: 18px;
  }

  #checkmark {
    height: 25px;
  }
}
